# Pandas
Read the link https://pandas.pydata.org/docs/user_guide/10min.html before starting the exercises.

We will use the data set "cars_data" in the exercises below.

In [ ]:
# Importing Pandas. 
import pandas as pd

### Explain what a CSV file is.

In [ ]:
# CSV file är ett enkelt textformat för att lagra tabelldata(siffror och text)
# på ett strukturerat sätt.  CSV = Comma-Separated Values

### Load the data set "cars_data" through Pandas.

In [ ]:
# When reading in the data, either you have the data file in the same folder as your python script
# or in a seperate folder.

# Code below can be ran if you have the data file in the same folder as the script
# cars = pd.read_csv("cars_data.csv")

# Code below can be ran if you have the data file in another script. 
# Notice, you must change the path according to where you have the data in your computer. 
# pd.read_csv(r'C:\Users\Antonio Prgomet\Documents\03_nbi_yh\korta_yh_kurser\python_för_ai\kunskapskontroll_1\cars_data.csv')

### Print the first 10 rows of the data.

In [13]:
# Importing Pandas. 
import pandas as pd

df = pd.read_csv("cars_data.csv")
print(df.iloc[0:9])

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc
5      5         audi        sedan        99.8   177.3         ohc
6      6         audi        wagon       105.8   192.7         ohc
7      9          bmw        sedan       101.2   176.8         ohc
8     10          bmw        sedan       101.2   176.8         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
5             five         110               19  15250.0
6             five         110               19  18920.0
7             four         101               23  16430.0
8             four         101               23  16925.0

### Print the last 5 rows.

In [7]:
# SELECTION BY ROW/S 
import pandas as pd

df = pd.read_csv("cars_data.csv")

print(df.iloc[56:61])

    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

### By using the info method, check how many non-null rows each column have.

In [18]:
import pandas as pd

non_null_counts = df.count()
print("Antal non-null värden per kolumn:")
print(non_null_counts)

Antal non-null värden per kolumn:
index               61
company             61
body-style          61
wheel-base          61
length              61
engine-type         61
num-of-cylinders    61
horsepower          61
average-mileage     61
price               58
dtype: int64

### If any column has a missing value, drop the entire row. Notice, the operation should be inplace meaning you change the dataframe itself.

In [20]:
import pandas as pd

missing_value = df.count()
print("Antal missing_value kolumn:")
print(missing_value)

Antal missing_value kolumn:
index               61
company             61
body-style          61
wheel-base          61
length              61
engine-type         61
num-of-cylinders    61
horsepower          61
average-mileage     61
price               58
dtype: int64

### Calculate the mean of each numeric column.

In [21]:
import pandas as pd
df = pd.read_csv("cars_data.csv")

means = df.mean(numeric_only=True)
means_df = pd.DataFrame({'Kolumn': means.index, 'Medelvärde': means.values})
print(means_df)

            Kolumn    Medelvärde
0            index     40.885246
1       wheel-base     98.481967
2           length    173.098361
3       horsepower    107.852459
4  average-mileage     25.803279
5            price  15387.000000

### Select the rows where the column "company" is equal to 'honda'.

In [29]:
df = pd.read_csv("cars_data.csv")
honda_company = df [df ["company"] == "honda"]
print(honda_company)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
18     27   honda      wagon        96.5   157.1         ohc             four
19     28   honda      sedan        96.5   175.4         ohc             four
20     29   honda      sedan        96.5   169.1         ohc             four

    horsepower  average-mileage    price
18          76               30   7295.0
19         101               24  12945.0
20         100               25  10345.0

### Sort the data set by price in descending order. This should *not* be an inplace operation.

In [45]:

import pandas as pd
df = pd.read_csv("cars_data.csv")
sorted_df = df.sort_values(by='price', ascending=False)
print(sorted_df)
print("\n--- Original DataFrame (oförändrad) ---")
print(df.head())

    index        company   body-style  wheel-base  length engine-type  \
35     47  mercedes-benz      hardtop       112.0   199.2        ohcv
11     14            bmw        sedan       103.5   193.8         ohc
34     46  mercedes-benz        sedan       120.9   208.1        ohcv
46     62        porsche  convertible        89.5   168.9        ohcf
12     15            bmw        sedan       110.0   197.0         ohc
..    ...            ...          ...         ...     ...         ...
27     36          mazda    hatchback        93.1   159.1         ohc
13     16      chevrolet    hatchback        88.4   141.1           l
22     31          isuzu        sedan        94.5   155.9         ohc
23     32          isuzu        sedan        94.5   155.9         ohc
47     63        porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
35            eight         184               14  45400.0
11              six         182               16  41315.0
34            eight         184               14  40960.0
46              six         207               17  37028.0
12              six         182               15  36880.0
..              ...         ...              ...      ...
27             four          68               30   5195.0
13            three          48               47   5151.0
22             four          70               38      NaN
23             four          70               38      NaN
47            eight         288               17      NaN

[61 rows x 10 columns]

--- Original DataFrame (oförändrad) ---
   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0

### Select the rows where the column "company" is equal to any of the values (audi, bmw, porsche).

In [ ]:
import pandas as pd
df = pd.read_csv("cars_data.csv")
# Skapa en lista med önskade märken
desired_companies = ["audi", "bmw", "porsche"]  
filtered_df = df[df["company"].isin(desired_companies)]
print(filtered_df)

    index  company   body-style  wheel-base  length engine-type  \
3       3     audi        sedan        99.8   176.6         ohc
4       4     audi        sedan        99.4   176.6         ohc
5       5     audi        sedan        99.8   177.3         ohc
6       6     audi        wagon       105.8   192.7         ohc
7       9      bmw        sedan       101.2   176.8         ohc
8      10      bmw        sedan       101.2   176.8         ohc
9      11      bmw        sedan       101.2   176.8         ohc
10     13      bmw        sedan       103.5   189.0         ohc
11     14      bmw        sedan       103.5   193.8         ohc
12     15      bmw        sedan       110.0   197.0         ohc
45     61  porsche      hardtop        89.5   168.9        ohcf
46     62  porsche  convertible        89.5   168.9        ohcf
47     63  porsche    hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
3              four         102               24  13950.0
4              five         115               18  17450.0
5              five         110               19  15250.0
6              five         110               19  18920.0
7              four         101               23  16430.0
8              four         101               23  16925.0
9               six         121               21  20970.0
10              six         182               16  30760.0
11              six         182               16  41315.0
12              six         182               15  36880.0
45              six         207               17  34028.0
46              six         207               17  37028.0
47            eight         288               17      NaN

### Find the number of cars (rows) for each company.

In [55]:
import pandas as pd
df = pd.read_csv("cars_data.csv")

cars_per_company = df["company"].value_counts()
result_df = pd.DataFrame({
    'Företag': cars_per_company.index,
    'Antal bilar': cars_per_company.values
})

print("Number of cars for each company:")
print(result_df.to_string(index=False))  
print(f"\nTotalt antal bilar i datasetet: {len(df)}")

Number of cars for each company:
      Företag  Antal bilar
       toyota            7
          bmw            6
        mazda            5
       nissan            5
mercedes-benz            4
         audi            4
   volkswagen            4
   mitsubishi            4
    chevrolet            3
       jaguar            3
        isuzu            3
        honda            3
      porsche            3
  alfa-romero            3
        dodge            2
        volvo            2

Totalt antal bilar i datasetet: 61

### Find the maximum price for each company.

In [54]:
import pandas as pd
df = pd.read_csv("cars_data.csv")
max_price_per_company = df.groupby('company')['price'].max()
print("Maximum price for each company:")
print(max_price_per_company)

Maximum price for each company:
company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64